:root {
  --accent-color: #f79413;
  --second-color: #121e42;
  --main-backgroud-color: #fdf0dd;

  --blue-100: #c9d4f3;
  --blue-200: #8fa6e2;
  --blue-300: #4f6fc3;
  --blue-400: #2b4ca7;
  --blue-500: #16389c;
  --blue-600: #122e80;
  --blue-700: #112766;
  --blue-800: #132354;
  --blue-900: #121e42;
}
