.serverStatus {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  > h1 {
    font-size: 3rem;
  }

  > h2.onlineStatus {
    padding: 6px 9px;
    color: #fff;
    &.online {
      background: #69ca2c;
    }
    &.offline {
      background: #c1c1c1;
    }
  }
  > pre {
    max-width: 100%;
    border: 1px solid #ccc;
    overflow: auto;
  }
}
