@import '../../mixins';

.mapView {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;

  > .controller {
    @include flex_center();
    position: absolute;
    top: 12px;
    left: 12px;
    width: 48px;
    height: 48px;
    background: var(--accent-color);
    user-select: none;
    cursor: pointer;

    > span {
      font-size: 32px;
      color: var(--second-color);
    }
  }

  > iframe {
    width: 100%;
    height: 100%;
  }
}
